* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.comic-neue-light {
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: normal;
  }
  
  .comic-neue-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .comic-neue-bold {
    font-family: "Comic Neue", cursive;
    font-weight: 1000;
    font-style: normal;
  }
  
  .comic-neue-light-italic {
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: italic;
  }
  
  .comic-neue-regular-italic {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: italic;
  }
  
  .comic-neue-bold-italic {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: italic;
  }
  

body {
    box-sizing: border-box;
    background-color: #fff;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

h1 {
    margin-left: 36%;
    margin-right: 36%;
    margin-top: 20px;
    color: rgb(223, 24, 100);
    margin-bottom: 40px;
}

.intro {
    margin-bottom: 25px;
}

div {
    width: 32%;
    height: 90px;
    background-color: #222;
    margin-bottom: 20px;
    color: #fff;
}

img {
    height: 100%;
    float: left;
    margin-right: 8px;
}

a {
    text-decoration: none;
    display: inline;
}

div p {
    padding-top: 10px;
}

.box1 {
    float: left;
    margin-right: 10px;
}
.box2 {
    float: left;
    margin-right: 10px;
}
.box3 {
    float: left;
}

.box4 {
    float: left;
    margin-right: 10px;
}
.box5 {
    float: left;
    margin-right: 10px;
}
.box6 {
    float: left;
}